
.card-text{
    color: #fbf8f8;
}
.card-title{
    color: #9AD1D4;

}
hr{
    color: #9AD1D4;
}

.btn{
    color: rgb(0, 0, 0);
    background-color: #9AD1D4;
}

.card{
    background-color: #003249;
    border-width: 4px;
    border-color: #9AD1D4;
}

.card-img-top{
    max-width:min-content;
}