.form-container{

    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    min-width: min-content;
    display: flex;
    justify-content: center;
    
}
.form-item{
 margin: 36px;
 color: #bedfee;
 background-color: #003249;
 border-style: none;
 border:2px solid #bedfee;
}
.btn-form-item{
    border-radius: 5px;
    background-color: #003249;
    border-color: #bedfee;
    color: #bedfee;
    

}

.icon{
    size: 25px;
    color: #bedfee;
}
::-webkit-calendar-picker-indicator { filter: invert();}

.result-ordine{
    text-align: center;
    color: #bedfee;
}
label{
    color: #bedfee;
}
.fattura{
    text-align: center;
    color: #bedfee;
}

.prenotazione-img{
    width: 100%;
    height: auto;
   
}
.errorDiv{
    text-align: center;
}
.error{
    color: rgb(195, 4, 4);
}
.loadingDiv{
    text-align: center;
}
.loading{
    color: #bedfee;
}