.form-container{
    margin: 16px;
    width: 100%;
    min-width: min-content;
    display: flex;
    justify-content: center;
    
}
.form-item{
 margin: 36px;
 color: #bedfee;
 background-color: #003249;
 border-style: none;
 border:2px solid #bedfee;
}
.btn-form-item{
    border-radius: 5px;
    background-color: #003249;
    border-color: #bedfee;
    color: #bedfee;
    

}
.icon{
    size: 25px;
    color: #bedfee;
}
::-webkit-calendar-picker-indicator { filter: invert();}

.result-ordine{
    text-align: center;
    color: #bedfee;
}
label{
    color: #bedfee;
}