#root{
  background-color: #003249;
}
.home {
  margin: 0px;
  padding: 0px;
  object-position: 50% 50%;
  object-fit: cover;
  background-image: url(https://images.unsplash.com/photo-1558879912-38d7a8936871?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1980&q=80);
}

.title {
  width: auto;
  height: 1000px;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1468818438311-4bab781ab9b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

.title-text {
 
  padding-top: 20%;
  text-align: center;
  color: #bedfee;
}

.parco-auto-text {
  
  color: #bedfee;
}

.car-rental-roma {
  color: #ffffff;
}
.btn-p-container{
  display: flex;
  justify-content: center;

}
.link-to-prenotazione{
  padding-block: 9px;
  padding-inline: 9px;
  background-color: #bedfee;
  color: #003249;
  border: 4px solid #ffffff;
  height: 50px;
  text-decoration: none;
}

.hero-cont {
  background-color: #003249;
}
.hero-title {
  text-align: center;
  color: #bedfee;
}

.descrizione {
  margin-left: 16px;
  line-height: 250%;
  word-spacing: 4px;
  margin-top: 10%;
  text-align: right;
  vertical-align: middle;
  color: #bedfee;
}

.hero-img-cont {
  margin-inline: 16px;
  margin-block: 16px;
  width: fit-content;
  height: auto;
}

.hero-img {
  width: auto;
  height: 600px;
}

